
@{
    ViewBag.Title = "Create";
}

    <form action="CreateProduct" method="post">
        <input type="text" name="name" placeholder="Product name" />
        <input type="text" name="description" placeholder="Description" />
        <input type="number" name="price" placeholder="Price" />
        <button>Add product</button>
    </form>
